.listyylistms {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}
.checkmark {
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 25px;
    // width: 25px;
    // background-color: #eee;
    border-radius: 50%;
  }
  .inputlistcom{
    width: 100% !important;
  }