@font-face {
    font-family: Poppins-600;
    src: url(../../styles/popins//Poppins-Regular.ttf);
}

.img_list_pohot {
    background-image: url('../../public/Group 36.svg');
    background-repeat: no-repeat;
    background-position: 95% 70px;
    background-size: 90% 100vh;
    padding: 110px 50px 0px 0px;
    display: flex;
    justify-content: end;
}

.heding_tis_about p {
    font-family: Poppins-600;
    font-size: 48px;
    color: #4F4F4F;
    font-weight: bold;
}

.tis_peregaraf_list p {
    font-size: 18px;
    color: #828282;
    max-width: 430px;
}

.maen_divabout {
    padding: 282px 0px 0px 80px;
}

@media only screen and (max-width: 450px) {
    .maen_divabout {
        padding: 60px 0px 0px 128px;
    }
    .img_list_pohot {
        padding: 115px 0px 0px 1px !important;
        background-position: 55% 0px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 820px) {
    .maen_divabout {
        padding: 60px 0px 0px 128px;
    }

    .img_list_pohot {
        padding: 55px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
}