@font-face {
    font-family: Poppins-400;
    font-family: Poppins-600;
    src: url(../../styles/popins//Poppins-Regular.ttf);
}
.listmenucantr{
    height: 100vh;
}
.heding_advauto p {
    font-family: Poppins-400;
    font-size: 38px;
    color: #4F4F4F;
    text-align: center;
}
.heding_advauto2 p {
    font-family: Poppins-400;
    font-size: 38px;
    color: #4F4F4F;
    padding: 0px 0px 0px 50px;
}
.heding_providing2{
    display: flex;
    justify-content: left;
    padding: 0px 0px 0px 50px;
    
    p {
        font-family: Poppins-400;
        font-size: 17px;
        text-align: center;
        color: #4F4F4F;
        max-width: 334px;
    }
    }

.heding_providing{
display: flex;
justify-content: center;


p {
    font-family: Poppins-400;
    font-size: 17px;
    text-align: center;
    color: #4F4F4F;
    max-width: 334px;
}
}
.logotis {
    text-align: end;
    width: 69%;
    position: relative;
    left: 112px;
    bottom: 110px;
}
.logotis2{
    text-align: left;
    // padding: 0px 0px 0px 90px;
}

.oboxline{
    // background-image:url('../../public/Ellipse 14.svg'),url('../../public/Ellipse 15.svg') !important;
    // background-repeat: no-repeat;
    // background-size:cover;
    text-align: center;

}
.bgcolor_peg2{
    background-image:url('../../public/Ellipse 19 (1).png'),url('../../public/Ellipse 21.png'),url('../../public/Ellipse 20.png') !important;
    background-repeat: no-repeat;
    background-size:100%;
   
}
.maen_geidsty2{
    background-image: url('../../public/Rectangle 14 (1).png');
    background-repeat: no-repeat;
}
.maen_geidsty {
    background-image: url('../../public/Rectangle 13.svg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 692px;

}
.listtebalboy{
    position: relative;
    bottom: 293px;
}
.textperegaf{
    p{
        font-size: 43px;
        font-family: Poppins-400;
color: #000000;

    }
}
.bgcolor_peg222{
    padding-top: 120px;
    padding-right: 60px;
    padding-left: 50px;
    // max-width: 450px !important;
}
.youalldatatypo{
    font-family: Poppins-400 !important;
    color: #8F8989; 
    font-size: 14px !important;
    padding-bottom: 30px;
}
@media only screen and (max-width: 900px) {
    .bgcolor_peg2 img{
        width: 200px;
        justify-content: end;
        display: flex;
    }
    .bgcolor_peg{
        display: none;
    }
    .bgcolor_peg2{
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .bgcolor_peg2 img{
        width: 200px;
        justify-content: end;
        display: flex;
    }
    .bgcolor_peg{
        display: none;
    }
    .bgcolor_peg2{
        display: none;
    }
}