@font-face {
  font-family: Poppins-400;
  src: url(../../styles/popins/Poppins-Regular.ttf);
}
.listjastifay{
  padding: 0px 20px 0px 0px;

  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}
.listpsllow{
  font-family: Poppins-400 !important;

}
.listcereantlist{
  font-family: Poppins-400 !important;

}
.listcereantlist{
  font-family: Poppins-400 !important;

}
.listgridffgpo{
  padding-top: 20px;
}
.typoanfnull{
  padding-bottom: 20px;
}
.listmenunum{
  padding: 0px 20px 0px 20px;

}
.listmaendivdataa{
  display: flex;
}
.listmaerngrid{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.cantenatdata{
  padding: 0px 60px 40px 60px;
}
.grenraddataop{
  padding-top: 15px;
  font-family: Poppins-400 !important;
  font-size: 15px !important;
  color: #333333 !important;
border-bottom: 2px solid #009947;
width: 80px ;
font-weight: 600 !important;
}
.grenraddataop22{
  padding-top: 15px;
  font-family: Poppins-400 !important;
  font-size: 15px !important;
  color: #333333 !important;
border-bottom: 2px solid #009947;
width: 130px ;
font-weight: 600 !important;
}
.grenraddataop223{
  padding-top: 15px;
  font-family: Poppins-400 !important;
  font-size: 15px !important;
  color: #333333 !important;
border-bottom: 2px solid #009947;
width: 70px ;
font-weight: 600 !important;
}
.hedingdata{
  // padding: ;
  font-family: Poppins-400 !important;
  color: #BDBDBD;
  text-transform: uppercase;
  font-size: 12px !important;

}
.accodata{
  font-family: Poppins-400 !important;
  color: #333333;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.accodata21{
  font-family: Poppins-400 !important;
  color: #009947;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.accodata22{
  font-family: Poppins-400 !important;
  color: #E31E24;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.listnscdaa{
  margin: 0px 0px 0px 20px;
  // border: 1px solid;
  background: rgba(240, 240, 240, 0.97);
border-radius: 2px;
  p{
  font-size: 8px !important;
  font-family: Poppins-400 !important;
  color: #858789;
  }
}
.listsumruiko{
  padding: 20px 60px 0px 0px;
}
.listgriddispo{
  padding: 20px 0px 0px 0px;
}