.typo_1 {
    color: #bdbdbd !important;
    font-size: 12px !important;
    font-family: "Poppins-400" !important;
    text-transform: uppercase;
    font-weight: 100 !important;
  }
  
  .typo_2 {
    font-size: 14px !important;
    font-family: "Poppins-600" !important;
    color: #333333 !important;
    font-weight: 600 !important;
  }
  
  .typo_3 {
    font-size: 6px !important;
    font-family: "Poppins-600" !important;
    color: #858789 !important;
    font-weight: 400 !important;
    background: #f0f0f0f7;
    width: 17px;
    height: 10px;
    margin: 0;
    text-align: center;
    align-items: center;
    border-radius: 2px;
  }
  
  .typo_4 {
    color: #009947 !important;
    font-size: 14px !important;
    font-family: "Poppins-600" !important;
    font-weight: 600 !important;
  }
  
  .flex {
    display: flex;
  }
  
  .align {
    align-items: center;
  }
  
  .typo_5 {
    color: #9597A1 !important;
    font-size: 14px !important;
    font-family: "Poppins-600" !important;
    font-weight: 600 !important;
  }
  
  .pad_top {
    padding-top: 30px;
  }
  
  .pad_1 {
    padding-left: 20px;
  }
  
  .wid_1{
    width: 110px;
    height: 40px;
  }
  
  .wid_2{
    width: 150px;
    height: 40px;
  }
  
  .wid_3{
    width: 112px;
    height: 40px;
  }
  
  .wid_4{
    width: 170px;
    height: 40px;
  }
  
  .pad_2{
    padding-left: 30px;
  }
  .pad_3{
    padding-left: 10px;
  }
  .typo {
    color: #333333 !important;
    font-family: "Poppins-600" !important;
    font-weight: 500 !important;
  }
  
  .ty_box {
    width: 140px;
    height: 28px;
    border-bottom: 3px solid #009947;
    margin-bottom: 20px;
  }
  
  .ty_box1 {
    width: 83px;
    height: 28px;
    border-bottom: 3px solid #009947;
    margin-bottom: 20px;
  }
  
  .border{
    width: 1200px !important;
    border-bottom: 1px solid #E4F4E9;
    padding: 30px 0 0 0 !important;
  }
  
  .text {
    color: #858789;
    font-size: 10px !important;
  }
  .wid_5 {
    width: 120px;
    height: 40px;
  }
  
  .wid_6 {
    width: 140px;
    height: 40px;
  }
  .pad_4{
    padding-left: 20px;
  }
  .pad_5{
    padding-left: 220px;
  }
  .peregarflist{
    font-family: "Poppins-400" !important;

  }
  .peregarflist2{
    font-family: "Poppins-600" !important;

  }
  .peregarflistlist{
    color: #009947;

    font-family: "Poppins-400" !important;
  }
  .redline{
    color: #E31E24;

    font-family: "Poppins-400" !important;
  }
  .cantenatdata{
    padding:70px 0px 30px 0px;
  }
.datadivcallaloo{
  padding: 10px 80px 0px 0px;
}
.peregarflist33{
  font-family: "Poppins-400" !important;

  font-size: 12px !important;
  color:#BDBDBD !important;
  text-transform:uppercase !important;
}
.peregarflist44{
  font-family: "Poppins-400" !important;

  font-size:14px !important;
  text-transform:uppercase !important;
  font-weight:bold !important;
  color:#333333 !important;
}
  @media only screen and (max-width: 500px) {
    .listpading{
      padding: 15px 0px 0px 0px !important;
    }
    .cantenatdata{
      padding:20px 30px 30px 30px !important;
    }
.datadivcalla{
  padding: 0px !important;
}
.datadivcallaloo{
  padding: 0px 60px 0px 0px !important;
}
// .flexlisjjs{
//   justify-content: space-around !important;
// }
  }