@font-face {
    font-family: Poppins-500;
    font-family: Poppins-400;
    src: url(../../styles/popins/Poppins-Regular.ttf);
}
.personlist{
    background-color: red;
}
.listseting {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
    border-radius: 0px;
    height: 100vh;
    padding: 0px 10px;
}

.listcomhed {
    background: #053159 !important;
    border-radius: 20px !important;

    p {
        font-family: Poppins-400 !important;
        display: flex;
        font-size: 16px !important;

    }

    .settingfast {
        min-height: 46px !important;
        background: #405E7A !important;
        border-radius: 25px !important;
        color: #FFFFFF !important;
    }

    svg {
        color: #FFFFFF !important;
    }

    .personicon {
        margin: 0px 20px 0px 0px;
    }
}

.imgboxse {
    display: flex;
    justify-content: center;
    padding: 40px 10px 40px 0px;
}

.personlist {
    width: 96%;
    font-family: Poppins-400 !important;
    font-size: 16px !important;
    color: #FFFFFF !important;
    text-transform: capitalize !important;
    background: #405E7A !important;
    border-radius: 20px !important;
    margin: 0px 0px 10px 10px !important;

}

.personlist2 {
    margin-bottom: 10px !important;
    // height: 46px;
    width: 96%;
    font-family: Poppins-400 !important;
    font-size: 16px !important;
    color: #FFFFFF !important;
    margin: 0px 0px 10px 10px !important;
    text-transform: capitalize !important;
    border-radius: 20px !important;
}
.accontbtn22 {
    background: #405E7A !important;

}

.arronewbar {
    font-size: 15px !important;
    margin: 0px 0px 0px 17px;
}

.arronewbar2 {
    font-size: 15px !important;
    margin: 0px 0px 0px 48px;
}

.jjperuser {
    margin: 0px 10px 0px 7px;
}

.accontbtn {
    button {
        padding: 0px 17px;
        margin-bottom: 10px;
        border-radius: 20px !important;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: 46px;
        color: white !important;
        text-transform: capitalize !important;
    }

    p {
        padding: 0px 0px 0px 10px;
        font-family: Poppins-400 !important;
        font-size: 16px !important;
    }


}

.listmenuoncc {
    display: none !important;
}

.pandicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calsslistbag {
    div {
        background: none;
      
    }
}

.cantenar_list1002 {
    background: linear-gradient(180deg, #053159 0%, rgba(14, 26, 37, 0.71) 100%) !important;
    height: 100vh;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
    border-radius: 0px;
}

.listnumlook {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .cantenar_list100 {
        display: flex;
        justify-content: end;
        margin: 20px 50px 0px 0px;

        button {
            color: black;
        }
    }

    .listmenuoncc {
        display: block !important;
    }

    .listseting {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .cantenar_list100 {
        display: flex;
        justify-content: end;
        margin: 20px 12px 0px 0px;
    }
    .listmenuoncc {
        display: block !important;
    }

    .listseting {
        display: none;
    }
}