
@font-face {
    font-family: Poppins-500;
    font-family: Poppins-400;
    src: url(../../styles/popins/Poppins-Regular.ttf);

}
@font-face {
    font-family: roboto-400;
    src: url(../../styles/Roboto/Roboto-Regular.ttf);
}

.contenat_listaddacc{
    padding: 20px 80px 60px 80px;
    background: #FFFFFF;
box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.13);
border-radius: 20px;
}
.listpattbek{
    margin: 0px 0px 20px 0px !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    font-family: Poppins-400 !important;
  color: #4F4F4F !important;
  border: 1px solid #4F4F4F !important;
  border-radius: 40px !important;
  padding:5px 20px !important;
  }
  .listpattbek:hover{
background-color: #009947 !important;
color: #FFFFFF !important;
border: 1px solid #009947  !important;
}
.addaclist {
p{
    font-family: Poppins-400 !important;
    color: #333333 !important;
font-size: 30px !important;
}
}
.cancelbtn{
    color: #E31E24 !important;
    font-size: 14px !important;
    font-family: Poppins-400 !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
    margin: 0px 10px 0px 0px !important;
}
.donebtn{
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-family: Poppins-400 !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
    background: #009947 !important;
    width: 133px;
}
.listterms{
    padding: 0px 0px 0px 5px;
}
.donebtn22{
    color:#E31E24 !important;  
     font-size: 14px !important;
     background: #C4C4C4 !important;
width: 133px;
// margin:0px 0px 0px 20px !important;
color: #FFFFFF !important;
font-family: Poppins-400 !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
    border-radius: 20px !important;
}
.leballist{
    color: #333333 !important;
    font-size: 15px !important;
    font-family: Poppins-400 !important;
    padding: 20px 0px 10px 0px !important;
}
.listdataaaco{
    display: flex;
    align-items: center;
    padding: 10px 0px;
   .listofavtar{
    padding: 0px 20px 0px 0px;
   
   }

}
.listhedingbnk{
    padding: 0px 13px 0px 0px;
    p{
        font-family: Poppins-400 !important; 
        color: #333333;
font-size: 14px;
    }
}.listhedingbnk22{
    // padding: 0px 13px 0px 0px;
    p{
        font-family: Poppins-400 !important; 
        color: #333333;
font-size: 14px;
    }
}
.listapichek{
    display: flex;
    align-items: center;
    p{
        font-family: Poppins-400 !important;
        color: #BDBDBD !important;
                font-size: 14px !important;
    }
    a{
        color: #009947 !important;
        font-weight: bold;
        text-decoration: none;
        padding: 0px 0px 0px 4px;
    }
}
.divaydaravta{
    border: 1px solid #E5E5E5;
}
.listdiver{
    padding: 0px 13px 0px 0px ;
}
.listdiver2{
    padding: 51px 0px 0px 13px ;
}
.switchadd{
    // padding: 0px 0px 0px 30px;
}
.avatarzerotha{
 border:1.5px solid #009947;
 img{
    padding: 2px 0px 0px 4px;
 }
}
.userinput{
    width: 100% !important;
  input:hover{
    background: #FFFFFF !important;
    appearance: none !important; 
  }
  input{
padding: 10px 18px !important;
    background-color: #FFFFFF !important;
    }

    div{
        // height: 46px;
        color: #333333 !important;
    font-size: 15px !important;
    font-family: Poppins-400 !important;
    }
    fieldset{
    color: #393030;

border: 1px solid #E5E5E5;
border-radius: 5px;
    }
}
.constomarlist{
    width: 100% !important;
    padding-right: 13px;

}
.constomarlist2{
    width: 100% !important;
    padding-left: 13px;
}
.leballist22{
    color: #333333 !important;
    font-size: 15px !important;
    font-family: Poppins-400 !important;
    padding: 20px 0px 10px 0px !important;
}
.typoandchek{
    display: flex;
    align-items: center;
    padding: 40px 0px 0px 0px;
        p{
        font-size: 12px;
color: #4F4F4F;
font-family: Poppins-400 !important;
}
    a{
        font-size: 12px;
        color: #4285F4;
        text-decoration: none;
        font-family: Poppins-400;
    }
}