@font-face {
    font-family: Poppins-400;
    src: url(../styles/popins/Poppins-Regular.ttf);
  
  }


.listcentenar{
    box-shadow: none !important;
}
.listtypogst{
    p{
    font-size: 16px !important;
    font-family: Poppins-400 !important;
    font-weight: bold;
color: #333333 !important;
    }
}
.typofonty{
    font-family: Poppins-400 !important;
    color: #444444 !important;
    font-size: 14px !important;

}
.listtextfils{
    margin-top: 0px !important;
    div{
        height: 40px;
    }
}
.listtextfils2233{
    margin-top: 0px !important;
    div{
        height: 40px;
        width: 50%;
    }
}
.listtextfils22{
    div{
padding: 0px !important;
font-size: 13px !important;

    }
    input{
        padding: 9px 4px 7.5px 9px;

    }
}
.hedindrop{
    font-family: Poppins-400 !important;
    font-size: 16px !important;
    color: #333333 !important;
  width: 110px;
    border-bottom: 3px solid #009947 !important;
    border-radius: 2px !important;
}
.listbackdda{
//   padding: 12px 0px 12px 0px !important;
    // width: 130px;
}
.acclistloddop{
box-shadow: none !important;
margin-left: 35px !important;
}
.listdatepikar{
    height: 40px !important;
    // padding: 0px 7px 0px 0px !important;
    font-family: Poppins-400 !important;
    width: 196px;

}
.batnpovedar{
    font-family: Poppins-400 !important;
    color: #FFFFFF;
    font-size: 12px !important;
    width: 133px;
    border-radius: 5px !important; 
}
.batnpovedar22{
    font-family: Poppins-400 !important;
    color: #FFFFFF;
    font-size: 12px !important;
    width: 133px;
    border-radius: 5px !important; 
}