@font-face {
    font-family: Poppins-400;
    src: url(../styles/popins/Poppins-Regular.ttf);
  
  }


.listcentenar{
    box-shadow: none !important;
    display: none !important;
}
.bolkdatat{
    box-shadow: none !important;
    display: block !important;

}
// .bolkdatat{}
.listtypogst{
    p{
    font-size: 16px !important;
    font-family: Poppins-400 !important;
    font-weight: bold;
color: #333333 !important;
    }
}
.typofonty{
    font-family: Poppins-400 !important;
    color: #444444 !important;
    font-size: 14px !important;

}
.listtextfils{
    margin-top: 0px !important;
    div{
        height: 40px;
        font-family: Poppins-400 !important;
    }
}
.listtextfils2233{
    margin-top: 0px !important;
    div{
        height: 40px;
        // font-family: Poppins-400 !important;

        // width: 50%;
    }
}
.listtextfils22{
    div{
padding: 0px !important;
font-size: 13px !important;
font-family: Poppins-400 !important;

    }
    input{
        padding: 10.5px 4px 10.5px 6px !important;

        // padding: 9px 4px 7.5px 9px !important;

    }
}
.hedindrop{
    font-family: Poppins-400 !important;
    font-size: 16px !important;
    color: #333333 !important;
    padding-top: 7px;
  width: 110px;
    border-bottom: 3px solid #009947 !important;
    border-radius: 2px !important;
}
.listbackdda{
//   padding: 12px 0px 12px 0px !important;
    // width: 130px;
}
.acclistloddop{
box-shadow: none !important;
margin-left: 35px !important;
}
.listdatepikar{
    height: 37px !important;
    width: 100%;
    // width: 200px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #F0F0F0;
    // border-radius: 10px;
    font-size: 16px;
    // background-color: #F9F9F9;
    background-image: url('../public/calender.svg');
    background-position: 18px 50%;
    background-repeat: no-repeat;
    padding: 18px 0px 18px 56px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: text;
    // box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.02);
    // padding: 0px 7px 0px 0px !important;
    font-family: Poppins-400 !important;
    // width: 196px;

}
.batnpovedar{
    font-family: Poppins-400 !important;
    color: #FFFFFF;
    font-size: 12px !important;
    width: 133px;
    border-radius: 5px !important; 
}
.batnpovedar22{
    font-family: Poppins-400 !important;
    color: #FFFFFF;
    font-size: 12px !important;
    width: 133px;
    border-radius: 5px !important; 
}
.cerrantlist{
    color: #BDBDBD !important;
    font-size: 12px !important;
    font-family: Poppins-400 !important;

}
.listcereantlist{
    // color: #009947 !important; 
    font-family: Poppins-400 !important;
    font-size: 16px !important;
}
.listpsllow{
    font-family: Poppins-400 !important;
    font-size: 16px !important;
   
}
.listonepterd{
    font-family: Poppins-400 !important;
    font-size: 14px !important;
    color: #333333 !important;
}
.hedarliath th{
    background: rgba(215, 229, 239, 0.25) !important;
    font-family: Poppins-400 !important;
    font-size: 14px !important;
    color: #333333 !important;
}
.listrowdATA td{
    // background: rgba(215, 229, 239, 0.25) !important;
    font-family: Poppins-400 !important;
    font-size: 14px !important;
    // color: #333333 !important;
}
.buyparatydata{
    color: #4285F4 !important;
}
.borderredayasfor {
    div {

        div {
            padding: 0px;

            border-radius: 30px !important;
            background: #FFFFFF;
        }
    }
}
.delehedar {
    padding: 22px 43px 15px 43px !important;

    p {
        text-align: center;
        font-family: Poppins-400 !important;
        font-size: 22px;
        color: #303030;
    }
}
.accoparegarf {
    padding: 33px 43px !important;

    p {
        text-align: center;
        max-width: 257px;
        font-family: Poppins-400 !important;
        font-size: 18px;
        color: #858789;
    }
}
.cancelbtn {
    font-size: 20px !important;
    font-family: Poppins-400 !important;

    text-transform: capitalize !important;
    text-align: center !important;
width: 170px;
    color: #4285F4 !important;
}
.cancelbtn2{
    font-size: 20px !important;
    font-family: Poppins-400 !important;

    text-transform: capitalize !important;
    text-align: center !important;
width: 160px;
color: #E31E24 !important;

}
.peregarflistlist{
    color: #009947;

    font-family: "Poppins-400" !important;
  }
  .datadivcallaloo{
    padding: 10px 80px 0px 0px;
  }
  .peregarflist{
    font-family: "Poppins-400" !important;

  }
  .peregarflist33{
    font-family: "Poppins-400" !important;
  
    font-size: 12px !important;
    color:#BDBDBD !important;
    text-transform:uppercase !important;
  }
  .peregarflist44{
    font-family: "Poppins-400" !important;
  
    font-size:14px !important;
    text-transform:uppercase !important;
    font-weight:bold !important;
    color:#333333 !important;
  }
  .redline{
    color: #E31E24;

    font-family: "Poppins-400" !important;
  }
  .listdatacom{
    box-shadow: none !important;
  }
  .radiyobtnlist{
    // color:''
  }
  
// .searchbtn {
//     width: 200px;
//     box-sizing: border-box;
//     height: 30px;
//     border: 1px solid #F0F0F0;
//     border-radius: 10px;
//     font-size: 16px;
//     background-color: #F9F9F9;
//     background-image: url(../../public/Search.svg);
//     background-position: 18px 50%;
//     background-repeat: no-repeat;
//     padding: 18px 0px 18px 56px;
//     -webkit-transition: width 0.4s ease-in-out;
//     transition: width 0.4s ease-in-out;
//     cursor: text;
//     box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.02);
// }
//   .calenderimg{
//     vertical-align: middle;
//       text-align: left;
//       position: absolute;
//       left: 0;
//       top: 6px;
//   }