@font-face {
  font-family: Poppins-400;
  src: url(../styles/popins/Poppins-Regular.ttf);

}
.listmenustrok{
  margin: 60px 120px!important;
}
.dasnod_camponat3{
  

}
.listpattbek{
  margin: 20px 0px 0px 40px !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  font-family: Poppins-400 !important;
color: #009947 !important;
}
.Header_camponat{
  /* padding: 0px 80px; */
  background: #FFFFFF !important;
}
.bac_divhomeadv{
  /* .listmenucantr { */
    /* height: 100vh; */
    /* background-image: url('../public/baghome.png'); */
    /* background-size: cover; */
     background-image: url('../public/Ellipse 13 (2).png'),url('../public/Ellipse 15 (2).png'),url('../public/Ellipse 14 (2).png') !important;
    background-repeat: no-repeat;
     /* background-size: 65%; */
}
/* } */
/* }
   */
   .bac_divhomeadv{
    /* background-color:#F5F5F5 !important; */
    padding: 100px 0px 0px 0px;
    background-image: url("../public/Rectangle 12 (1).png") !important;
    background-repeat: no-repeat;
   }
   /* .bac_divhomeadv{
    background-color:#F5F5F5 !important;
    padding: 100px 0px 0px 0px; */
    /* background-image: url('../public/'); */
    /* background-image: url("../public/Rectangle 12 (1).png");
    background-repeat: no-repeat;
}
  .newbarend{
    background: linear-gradient(180deg, #053159 0%, rgba(14, 26, 37, 0.71) 100%) !important;
    /* height: 100vh !important; */
  /* } */
.dasnod_camponat2{
  padding: 60px 0px;
}
.dasnod_camponat2369{
  padding: 60px 60px;
  background-image: url('../public/background.png'); 
  background-repeat: no-repeat !important;
  background-size: cover;
}
.dasnod_camponat266{

  padding: 60px 60px;
}
.dasnod_camponat2663{
  padding: 120px 120px;
}
.dasnod_camponat26634{
padding: 80px 80px;
}
.accolistmenu{
  padding: 60px;
}
.cantenar_list88{
  background-image: url('../public/background.png'); 
  background-repeat: no-repeat !important;
  background-size: cover;
  /* background-position: 0px 50px; */
  /* background-size: 100% 100%; */
}
.cantenar_list883{
  background-image: url('../public/background.png'); 
  background-repeat: no-repeat !important;
  background-size: cover;
}
.cantenar_list8834{
  background-image: url('../public/background.png'); 
  background-repeat: no-repeat !important;
  background-size: cover;
}
.cantenar_list36{
  background-image: url('../public/background.png'); 
  background-repeat: no-repeat !important;
  background-position: 0px 50px;
  background-size: 100% 100%;
}
.listmenustrok {
  margin: 60px 120px !important;
}

/* .dasnod_camponat3 {
} */

.Header_camponat {
  padding: 0px 80px;
  background: #ffffff !important;
}

.bac_divhomeadv {
  /* / .listmenucantr { / */
  /* / height: 100vh; / */
  /* / background-image: url('../public/baghome.png'); / */
  /* / background-size: cover; / */
  background-image: url("../public/Ellipse 13 (2).png"),
    url("../public/Ellipse 15 (2).png"), url("../public/Ellipse 14 (2).png") !important;
  background-repeat: no-repeat;
  /* / background-size: 65%; / */
}

/* / } / */
/* }
  .bac_divhomeadv{
      background-color:#F5F5F5 !important;
      padding: 100px 0px 0px 0px;
      / background-image: url('../public/'); /
/* background-image: url("../public/Rectangle 12 (1).png");
      background-repeat: no-repeat;
  }  */
.newbarend {
  background: linear-gradient(180deg,
      #053159 0%,
      rgba(14, 26, 37, 0.71) 100%) !important;
  /* / height: 100vh !important; / */
}

.dasnod_camponat2 {
  padding: 60px 0px;
}

.dasnod_camponat266 {
  padding: 60px 60px;
}

.dasnod_camponat2663 {
  padding: 120px 120px;
}

.accolistmenu {
  padding: 60px;
}

.container_list80 {
  /* background-image: url("../public/background.png");
  background-repeat: no-repeat !important;
  background-size: cover; */
  /* background-position: 0px 50px;
  background-size: 100% 100%; */
  /* width: 100% !important; */
  /* height: 620px !important; */
  /* background-size: 100% 100% !important; */
}

.container_box {
  margin: 26px 80px 50px 80px;
  border-radius: 20px !important;

}

.flex {
  display: flex;
}

.wid_1 {
  width: 50%;
}

.pad_12 {
  padding: 20px 0 30px 64px;
}

.dropup_icon {
  color: #009947;
}

.typo {
  font-size: 30px !important;
  font-family: "Poppins-600" !important;
  color: #333333 !important;
}

.span {
  color: #009947;
  font-size: 18px !important;
  font-family: "Poppins-600" !important;
}

.span_1 {
  font-size: 18px !important;
  font-family: "Poppins-600" !important;
}

.text_align {
  text-align: right;
}

.pad_122 {
  padding: 20px 40px 30px 0;
}

/* .hei_12 {
  height: 150px;
} */

.img_add {
  box-shadow: 0px 8px 16px rgb(0 153 71 / 40%);
  border-radius: 16px;
}

.mar_top {
  margin-top: 20px;
}

.span {
  color: #009947;
  font-size: 18px !important;
  font-family: "Poppins-600" !important;
}

.pad_3 {
  padding-left: 40px;
}

.span_1 {
  font-size: 18px !important;
  font-family: "Poppins-600" !important;
}

/* .pad_12 {
  padding: 60px 0 44px 40px;
} */

.pad_1 {
  /* padding: 0 0 0 20px; */
  width: 100% !important;
}

.pad_2 {
  height: 207px !important;
  padding-right: 25px !important;
  align-items: center !important;
  /* width: 20% !important; */
}

.pad_123 {
  padding: 74px 0 44px 40px;
}

.button {
  color: #4285f4 !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  font-size: 18px !important;
}

.btn {
  font-size: 16 !important;
  text-transform: capitalize !important;
  /* / color: #858789 !important; / */
  font-family: "Poppins-600" !important;
}

.btn:active {
  font-size: 16 !important;
  text-transform: capitalize !important;
  color: #009947 !important;
  font-family: "Poppins-600" !important;
}

.cantenar_list88 {
  background-image: url("../public/background.png");
  background-repeat: no-repeat !important;
  background-size: cover;
  /* / background-position: 0px 50px; /
  / background-size: 100% 100%; / */
}
.dasnod_camponat366{
  background-image: url("../public/background.png");
  background-repeat: no-repeat !important;
  /* background-position: 0px 50px;
  background-size: 100% 100%; */
  background-size: cover;
}
/* .cantenar_list88 {
  background-image: url("../public/background.png");
  background-repeat: no-repeat !important;
  background-size: cover;
} */

/* .cantenar_list883 {
  background-image: url("../public/background.png");
  background-repeat: no-repeat !important;
  background-size: cover;
} */

.cantenar_list36 {
  background-image: url("../public/background.png");
  background-repeat: no-repeat !important;
  background-position: 0px 50px;
  background-size: 100% 100%;
}

.setinglist {
  background: linear-gradient(180deg,
      #053159 0%,
      rgba(14, 26, 37, 0.71) 100%) !important;

  /* / padding: 30px; / */
}
.tbapenalist {
  /* div{
  padding: 0px;
  } */
}
@media only screen and (max-width: 900px) {
  .dasnod_camponat {
    padding: 0px 30px 0px 30px;
  }

  /* .singlistpsdii{
    padding: 30px 90px 30px 90px !important;
  } */
  /* .dasnod_camponat3 {
    padding: 30px 30px 0px 30px;
  } */

  .userinput {
    padding: 0px 20px;
  }

  .passoutinput {
    /* / padding: 10px 20px !important; / */
    margin: 20px 20px 0px 20px;
  }
  .boxteballist{
    margin: 60px 60px!important;
  }
}

@media only screen and (max-width: 500px) {
  .dasnod_camponat {
    padding: 0px 30px 0px 30px;
  }

  .singlistpsdii {
    padding: 20px !important;
  }

  .dasnod_camponat3 {
    padding: 30px 30px 0px 30px;
  }

  .userinput {
    padding: 0px 20px;
  }

  .passoutinput {
    /* / padding: 10px 20px !important; / */
    margin: 20px 20px 0px 20px;
  }
}

/* @media only screen and (max-width: 820px) {
  .dasnod_camponat{
    padding: 0px 40px 0px 40px;
  }
  .dasnod_camponat3{
    padding: 40px 40px 0px 40px;
  }
} */
/* .setinglist */
.newbarend{
  background: linear-gradient(180deg, #053159 0%, rgba(14, 26, 37, 0.71) 100%) !important;

  /* padding: 30px; */
}
@media only screen and (max-width: 900px) {
  .newbarend{

    background: none !important;
    /* div{ */
      display: flex;
      justify-content: end;
    /* } */
  }
  .dasnod_camponat{
    padding: 0px 30px 0px 30px;
  }
  
  /* .singlistpsdii{
    padding: 30px 90px 30px 90px !important;
  } */
  .dasnod_camponat3{
    padding: 30px 30px 0px 30px;
  }
  .userinput{
    padding: 0px 20px;
  }
  .passoutinput{
    /* padding: 10px 20px !important; */
    margin: 20px 20px 0px 20px;
  }
}

@media only screen and (max-width: 500px) {
  .pad_12{
    padding: 20px 0 30px 30px;
  }
  .container_box{
    margin: 26px 20px 50px 20px !important;
  }
  .newbarend{
    display: flex;
    justify-content: end;
    background: none !important;
  }
  .dasnod_camponat266{
    padding: 20px !important;
  }
  .dasnod_camponat{
    padding: 0px 30px 0px 30px;
  }
  .singlistpsdii{
    padding: 20px !important;
  }
  .dasnod_camponat3{
    padding: 30px 30px 0px 30px;
  }
  .userinput{
    padding: 0px 20px;
  }
  .passoutinput{
    /* padding: 10px 20px !important; */
    margin: 20px 20px 0px 20px;
  }
}

/* @media only screen and (max-width: 820px) {
  .dasnod_camponat{
    padding: 0px 40px 0px 40px;
  }
  .dasnod_camponat3{
    padding: 40px 40px 0px 40px;
  }
} */